[submodule "vendor/stonefish"]
	path = vendor/stonefish
	url = https://github.com/Rumarino-Team/stonefish.git
[submodule "vendor/stonefish_ros2"]
	path = vendor/stonefish_ros2
	url = https://github.com/Rumarino-Team/stonefish_ros2.git
[submodule "vendor/zed-ros-interfaces"]
	path = vendor/zed-ros-interfaces
	url = https://github.com/stereolabs/zed-ros2-interfaces.git
[submodule "vendor/depth_anything_v2"]
	path = vendor/depth_anything_v2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
[submodule "vendor/joystick_drivers"]
	path = vendor/joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers.git
[submodule "vendor/zed-ros2-examples"]
	path = vendor/zed-ros2-examples
	url = git@github.com:stereolabs/zed-ros2-examples.git
